/* Floating top menu */
#as_overview {
 top:0px;
 left:0px;
 /*right:0px;*/
 width:100%;
 height:250px;
 z-index:200;
 position:fixed !important;
}
#as_overview_top {
 background-image:url(images/bar_bg.gif);
 background-position:top;
 background-repeat:repeat-x;
 height:31px;
 top:0px;
 left:5px;
 right:0px;
 position:absolute;
}
#as_overview_btm {
 background-image:url(images/bar_btm.png);
 background-repeat:repeat-x;
 left:5px;
 height:5px;
 right:5px;
 bottom:0px;
 position:absolute;
}
#as_overview_btm_left {
 background-image:url(images/bar_btm_left.png);
 background-repeat:no-repeat;
 height:5px;
 width:5px;
 left:0px;
 bottom:0px;
 position:absolute;
}
#as_overview_btm_right {
 background-image:url(images/bar_btm_right.png);
 background-repeat:no-repeat;
 height:5px;
 width:5px;
 right:0px;
 bottom:0px;
 position:absolute;
}
#as_overview_scale {
 background-image:url(images/stretch_handle.png);
 background-repeat:no-repeat;
 height:19px;
 width:19px;
 right:0px;
 bottom:0px;
 position:absolute;
}
#as_move_button {
 background-image:url(images/bar_btn_move_up.png);
 background-repeat:no-repeat;
 width:20px;
 height:33px;
 left: 0px;
 top:0px;
 cursor:pointer;
 position:absolute;
}
#as_move_button:hover {
 background-image:url(images/bar_btn_move_down.png);
}
.as_top_button {
 background-image:url(images/bar_btn_up.gif);
 background-repeat:no-repeat;
 width:109px;
 height:30px;
 color:#888888;
 font:Arial, Helvetica, sans-serif 12px bold;
 text-align:center;
 padding-top:2px;
 cursor:pointer;
 top:4px;
 position:absolute;
}
.as_top_button:hover {
 background-image:url(images/bar_btn_down.gif);
 color:#9999FF;
}
.as_top_button_active {
 background-image:url(images/bar_btn_down.gif);
 color:#FFFFFF !important;
}
#as_student_button {
 left: 30px;
}
#as_comments_button {
 left: 144px;
}
#as_assignment_button {
 left: 258px;
}
#as_feedback_button {
 left: 372px;
}
#as_additional_button {
 left: 486px;
 display:none;
}
#as_windows {

}
.as_hide_windows {
 display:none;
}
.as_overview_window {
 display:none;
 position:absolute;
 top:55px;
 bottom:10px;
 background-color:#FFFFFF;
 color:#333333;
 overflow-x:hidden;
 overflow-y:scroll;
 padding:10px;
 right:15px;
 left:15px;
}

.as_window_tab {
 display:none;
 position:absolute;
 top:40px;
 width:200px;
 height:15px;
 left:15px;
 background-color:#EEEEEE;
 border:solid 1px #999999;
 color:#333333;
 padding: 1px 0px 1px 5px;
 margin:0px;
 line-height:100%;
}

.as_overview_window_split_left {
 /*width:45%;*/
 right:51%;
}
.as_overview_window_split_right {
/* width:45%;*/
 right:15px;
 left:51%;
}

.as_overview_window_active {
 display:block;
}
#as_student_window_1 {
 
}
#as_assignment_window_1 {
 
}
#as_comments_window_1 {
 
}
#as_feedback_window_1 {
 
}
#as_additional_window_1 {
 
}
#as_student_window_2 {
 
}
#as_assignment_window_2 {
 
}
#as_comments_window_2 {
 
}
#as_feedback_window_2 {
 
}
#as_additional_window_2 {
 
}

#as_split_window {
 background-image:url(images/bar_options.gif);
 background-position: 0px 0px;
 width:28px;
 height:18px;
 right: 59px;
 top:0px;
 position:absolute;
 cursor:pointer;
}
.as_split_active{
 background-position: 66px 0px !important;
}
#as_collapse {
 background-image:url(images/bar_options.gif);
 background-position: 38px 0px; 
 width:38px;
 height:18px;
 right: 21px;
 top:0px;
 position:absolute;
 cursor:pointer;
}
.as_collapse_active{
 background-position: 104px 0px !important;
}
#as_top_right {
 background-image:url(images/bar_top_right.png);
 position:absolute;
 top:0px;
 right:0px;
 width:5px;
 height:10px;
}
#as_overview_left {
 background-color:#b2b2b2;
 position:absolute;
 top:5px;
 left:0px;
 width:1px;
 bottom:5px;
}
#as_overview_right {
 background-color:#b2b2b2;
 position:absolute;
 top:5px;
 right:0px;
 width:1px;
 bottom:5px;
}
#as_overview_middle {
 background-color:#000000;
 position:absolute;
 top:10px;
 right:1px;
 left:1px;
 bottom:5px;
}

#as_settings {
 position:fixed;
 top:0px;
 left:0px;
 width:100%;
 z-index:98;
 display:none;
}
#as_control_panel {
 height:100px;
 top:0px;
 left:0px;
 color:#333333;
 background-color:#FFFFFF;
 opacity: 0.7;
 padding:5px;
 border-bottom: #000000 1px solid;
}
#as_control_panel label{
 display:inline;
}
#as_options {
 color:#EEEEEE;
 z-index:99;
 height:24px;
 background-color:#000000;
}

.as_active_button {
 color:#0033CC;
 cursor:pointer;
 text-decoration:none;
}
.as_active_button:hover {
 color:#0000FF;
 text-decoration:underline;
}
#as_toggle {
 background-color:#FF6600;
}
#as_control_widget table{
 font-size:.8em;
 margin:0px;
 padding:0px 0px;
 width:170px;
}
#as_control_widget table td {
 padding:0px;
}
#as_control_widget table th {
 padding: 0px 5px;
}

#as_quick_link {
 background-color:#0000CC;
}

/* Generated Assignment Studio Table and formats */
#assignment_table th, .sticky-header th {
 vertical-align:bottom;
 text-align:center;
}
#assignment_table {
 margin:0px;
 width:auto;
}
#assignment_table td{
 text-align:center;
 padding:0px;
 margin:0px;
}

#as_assignment_overview {
 display:none;
}

#as_iframe {
 overflow:auto;
 width:100%;
 height:300px;
}

.as_loading {
 background-position:100% -18px;
 background-repeat:no-repeat;
 height:15px;
 width:20px;
 position:absolute;
 margin-left:5px;
 display:block !important;
}

#as_control_widget {
 background-color:#CCCCCC;
 color:#000000;
 width:130px;
 height:100px;
 margin:0px;
 border:2px #000000 solid;
 z-index:1000;
 top:400px;
 left:10px;
 position:fixed;
}
.as_widget_button {
 text-align:center;
 vertical-align:middle;
 cursor:pointer;
 position:absolute;
 width:20px;
 height:20px;
 border:1px #000000 solid;
}
.as_drag {
 text-align:center;
 vertical-align:middle;
 cursor:pointer;
 width:10px;
 height:10px;
 position:absolute;
 top:0px;
 left:0px;
 border:1px #000000 solid;
}
.as_up {
 left:20px;
 top:0px;
}
.as_left {
 left:0px;
 top:20px;
}
.as_go {
 left:20px;
 top:20px;
}
.as_right {
 left:40px;
 top:20px;
}
.as_down {
 left:20px;
 top:40px;
}
#as_view {
 left:0px;
 top:80px;
 background-color:#990000;
}
#as_filter {
 left:20px;
 top:80px;
 background-color:#993399;
}
#as_tag {
 left:40px;
 top:80px;
 background-color:#00CC33;
 display:none;
}
#as_legend {
 left:40px; /* should be 60px once tagging is in */
 top:80px;
 background-color:#FFCC33;
}
#tablesorterPager {
 left:0px;
 top:60px;
 position:absolute;
}

.as_widget_tab {
 position:relative;
 left:0px;
 top:100px;
 margin:0px 0px 0px -2px;
 padding:0px 5px 5px 5px;
 width:170px;
 font-size:9px;
 display:none;
 background:#CCCCCC;
 border:#000000 2px solid;
 line-height:170%;
}
.as_widget_tab .form-select {
 font-size:9px;
}

/* letter grade shading */
.as_grade {
 width:16px;
 height:16px;
 background-repeat:repeat-x;
}
.as_grade_a {
 background-color:#4444FF;
}
.as_grade_am {
 background-color:#22FFF4;
}
.as_grade_bp {
 background-color:#FF22FF;
}
.as_grade_b {
 background-color:#22FF23;
}
.as_grade_bm {
 background-color:#95FF22;
}
.as_grade_cp {
 background-color:#FFFF22;
}
.as_grade_c {
 background-color:#FFA222;
}
.as_grade_d {
 background-color:#FF5122;
}
.as_grade_f {
 background-color:#FF4444;
 background-repeat:repeat-x;
}

.as_letter_grade {
 display:block;
 padding: 10px 0px 0px 12px;
 font-size:14px;
}
.as_percent_grade {
 display:none;
 padding: 10px 0px 0px 15px;
 font-size:10px;
}
.as_number_grade {
 display:none;
 padding: 10px 0px 0px 10px;
 font-size:10px;
}
.as_username {
 height:40px;
}
.as_active_assignment {
 background-color:#FFFFAA;
 border: 2px #FFAAAA solid;
}

.as_assignment {
 height:40px;
 cursor:pointer;
}
.as_unsubmitted {
 background-image:url(images/unsubmitted.png);
 background-position:left center;
 background-repeat:no-repeat;
  height:40px;
}
.as_submitted {
 background-image:url(images/submitted.png);
 background-position:left center;
 background-repeat:no-repeat;
  height:40px;
}
.as_ungraded {
 background-image:url(images/ungraded.png);
 background-position:left center;
 background-repeat:no-repeat;
  height:40px;
}
.as_graded {
 background-image:url(images/graded.png);
 background-position:left center;
 background-repeat:no-repeat;
  height:40px;
}
.as_status_sorter {
 display:none;
}
.as_not_exemplary {
 display:none;
}
.as_exemplary {
 display:none;
 width:10px;
 height:10px;
 margin: -42px 0px 0px 49px;
 background-color:#FFFF00;
 position:absolute;
}

#assignment_table th { 
 background-image: url(images/bg.gif);     
 cursor: pointer; 
 font-weight: bold; 
 background-repeat: no-repeat; 
 background-position: bottom left; 
 padding-left: 20px; 
 border-right: 1px solid #dad9c7; 
 margin-left: -1px;
 width:25px;
} 
col {
 width:25px !important;
}
#assignment_table tr {
 width:25px !important;
}
#assignment_table th.headerSortDown {
 background-image: url(images/desc.gif);     
 cursor: pointer;
 background-color: #3399FF;
}

#assignment_table th.headerSortUp {
 background-image: url(images/asc.gif);     
 cursor: pointer;
 background-color: #3399FF;
}
#assignment_table td {
 padding:0px;
 margin:0px;
 border:#FFFFFF solid 2px;
}

div.tablesorterPager {
 background-color: #D6D2C2;
}
div.tablesorterPager input {
 font-size: 8px;
 width: 20px;
 text-align: center;
}
div.tablesorterPager select {
 font-size:7px;
 margin:0px;
 padding:0px;
}
div.tablesorterPager form {
 margin:0px !important;
 padding:0px !important;
}

#as_control_widget select{
 font-size:8px;
 margin:0;
 padding:0;
}

#as_control_widget .pagesize{
 float:right;
}